
body
{
    position: relative;
    background-color:rgb(247, 225, 198);
    width: 100%;
    height: 100vh;
}

h1
{
    text-align: center;
    color: #c4972e;
}

.selectorContainer
{
    display: flex;
    width: 100%;
    height: 10vh;
    align-items: center;
    justify-content: center;
    margin-top: 10vh;
    margin-bottom: 15vh;
}

.selectorContainer button
{
    background-color:#e7e1cb;
    margin-left: 10%;
    min-width: 20vw;
    width: 20vw;
    height: 8vh;
    border-radius: 27px;
    border-width: 3px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 2.5vh;
}

.selectorContainer button:hover
{
    border-color: purple;
    letter-spacing: 0.25em;
    box-shadow: 0 0 35px;
}

.selectorContainer .random-button
{
    display: inline-block;
    background-color:dodgerblue;
}

.random-button:active
{
    transform: scale(0.98);
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

.dropdown
{
    display: inline-block;
    position: relative;
    z-index: 3;
}

.dropdown .dropdown-content
{
    display: none;
    position: absolute;
    width: 80%;
    margin-left: 3vw;
    overflow: hidden;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0.2);
    border-radius: 10px;
    visibility: hidden;
    opacity: 0;
    transition: 0.25s;
    background-color:rgb(247, 225, 198);
}

.dropdown.active .dropdown-content
{
    visibility: visible;
    opacity: 1; 
}


.dropdown:hover .dropdown-content
{
    display: block;
}

.dropdown-content a
{
    display: block;
    color: #050404;
    padding: 5px;
    padding-left: 20px;
    position: relative;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.dropdown-content a:hover
{
    background: #337eb8;
    color: #FFFFFF;
    cursor: pointer;
}

.dropdown-content a:active
{
    transform: scale(0.98);
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

.dropdown .buttonSelector
{
    display: inline-block;
    margin: 5vw;
    background-color: peachpuff;
}

.imagesContainer
{
    display: flex;
    overflow: hidden;
    z-index: -1;
    justify-content: space-evenly;
}

img
{
    position: relative;
    display: block;
    width: 30%;
    height: 90%;
    z-index: inherit;
}
