
body
{
    background-color:rgb(247, 225, 198);
}

h1
{
    text-align: center;
    color: #c4972e;
}

button
{
    background-color:#e7e1cb;
    margin-left: 5%;
    width: 100%;
}

.random-button
{
    display: inline-block;
    width: 10%
}

.dropdown
{
    display: inline-block;
    position: relative;
}

.dropdown-content
{
    display: none;
    position: absolute;
    width: 100%;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0.2);
}

.dropdown:hover .dropdown-content
{
    display: block;
}

.dropdown-content a
{
    display: block;
    color: #050404;
    padding: 5px;
    transition: 0.25s;
}

.dropdown-content a:hover
{
    background: #337eb8;
    color: #FFFFFF;
}

.dropdown-content a .active
{
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    transition: var(--speed) ease;
}

.dropdown-content a .inactive
{
    opacity: 0;
    visibility: hidden;
    transform: translateY(-20px);
    transition: var(--speed) ease;
}

.dropdown .buttonSelector
{
    display: inline-block;
    min-width: 150px;
    border-radius: 20%;
}

img
{
    display: block;
    width: 30%;
    margin-left: 65%;
    margin-top: 10%;
}
